# 1. Deletion method

In [1]:
import pandas as pd
from sklearn.datasets import fetch_california_housing

In [2]:
# Read a data
house=fetch_california_housing()

In [3]:
# Convert it into pandas
df=pd.DataFrame(house.data, columns=house.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [4]:
# Preprocess the data
# 1. Check for the missing values
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [5]:
# making df with every 10th row=Nan (missing value)
import numpy as np
df.iloc[::10]=np.nan

In [6]:
# Check for missing values
df.isnull().sum()

MedInc        2064
HouseAge      2064
AveRooms      2064
AveBedrms     2064
Population    2064
AveOccup      2064
Latitude      2064
Longitude     2064
dtype: int64

In [8]:
# 1st method drop 
df=df.dropna()

In [9]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

Task is : Load iris data, put missing values, handle it using 1st deletion

# 2. Mean/Median Imputation method

In [10]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [11]:
# Read data
data=fetch_california_housing()

In [12]:
# Convert it into dataframe
df=pd.DataFrame(data.data, columns=data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [13]:
# Check for missing values
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [14]:
# put some missing values into the dataframe
df.iloc[::10]=np.nan

In [15]:
df.isnull().sum()

MedInc        2064
HouseAge      2064
AveRooms      2064
AveBedrms     2064
Population    2064
AveOccup      2064
Latitude      2064
Longitude     2064
dtype: int64

In [16]:
# Fill missing values with the mean of the column
imputer = SimpleImputer(strategy='mean')
df_imputed = imputer.fit_transform(df)

In [17]:
# Convert the imputed data back to a Pandas DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

In [18]:
df_imputed.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

# 3. Regression imputation method

In [19]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [20]:
# Read the dataset
data=fetch_california_housing()
df=pd.DataFrame(data.data, columns=data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [21]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [22]:
# Put some missing data
df.iloc[10:20, 0]=np.nan

In [23]:
df.isnull().sum()

MedInc        10
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
dtype: int64

In [24]:
# Split the dataset into with and without missing values
x_missing=df[df.isna().any(axis=1)] 
x_no_missing=df.dropna()

In [25]:
x_train=x_no_missing.drop(columns=['MedInc'])
y_train=x_no_missing['MedInc']
x_test=x_missing.drop(columns=['MedInc'])

In [26]:
# Define a model
model=LinearRegression()
model.fit(x_train,y_train) # Fit a model with features and targetr as MedInc

LinearRegression()

In [27]:
# Impute missing values using the trained model
x_missing['MedInc']=model.predict(x_test)

/var/folders/6s/d0kj1bc14152_w6d8xd7q99h0000gn/T/ipykernel_6517/1884566591.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_missing['MedInc']=model.predict(x_test)

In [28]:
# Concatenate the two datasets back together
x_imputed = pd.concat([x_missing, x_no_missing], axis=0)

In [29]:
# Check if there are any missing values left
print(x_imputed.isnull().sum())

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

# 4 Using Interpolation method

In [30]:
from sklearn.datasets import load_iris
import pandas as pd

In [31]:
# Load Iris dataset
data = load_iris()
X = pd.DataFrame(data.data, columns=data.feature_names) # features
y = data.target # target

In [32]:
# Add some missing values
X.iloc[10:20, 0] = None
X.iloc[20:30, 2] = None

In [33]:
X.isnull().sum()

sepal length (cm)    10
sepal width (cm)      0
petal length (cm)    10
petal width (cm)      0
dtype: int64

In [34]:
# Interpolate missing values using linear interpolation
X = X.interpolate(method='linear') # simple

In [35]:
X.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

# 5. Using multiple interpolation methods

In [36]:
from sklearn.datasets import load_iris
import pandas as pd

In [37]:
# Read dataset
x=load_iris()
y=x.target

In [38]:
# Convert it into dataframe
x=pd.DataFrame(x.data, columns=x.feature_names)

In [39]:
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [40]:
x.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [41]:
# Put some missing values
x.iloc[10:20,0]=None

In [42]:
x.isnull().sum()

sepal length (cm)    10
sepal width (cm)      0
petal length (cm)     0
petal width (cm)      0
dtype: int64

In [43]:
# Interpolate missing values using different interpolation methods
x['sepal length (cm)'] = x['sepal length (cm)'].interpolate(method='linear')
x['sepal width (cm)'] = x['sepal width (cm)'].interpolate(method='quadratic')

In [44]:
x.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

# 6. Multiple Imputation technique

In [45]:
from sklearn.datasets import load_iris
from sklearn.experimental import enable_iterative_imputer # iteration 
from sklearn.impute import IterativeImputer # mutltiple imputer
import pandas as pd

In [46]:
# Load Iris dataset
data = load_iris()
X = pd.DataFrame(data.data, columns=data.feature_names)

In [47]:
# Add some missing values
X.iloc[10:20, 0] = None

# Impute missing values using IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)
X_imputed = imp.fit_transform(X)

# Check if there are any missing values left
pd.DataFrame(X_imputed).isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64