In [1]:
import pandas as pd
import numpy as np

----
# Slicing

In [2]:
s1 = pd.Series(np.arange(5, 15))
s1[-5:-2]

5    10
6    11
7    12
dtype: int64

# Concatenation

In [3]:
s2 = pd.Series(["red", "blue", "green"], index=["A", "B", "C"])
s3 = pd.concat((s1[:4], s2))
s3

0        5
1        6
2        7
3        8
A      red
B     blue
C    green
dtype: object

# Drop element using index

In [4]:
s3.drop("A", inplace=True)
s3

0        5
1        6
2        7
3        8
B     blue
C    green
dtype: object

----
# Mathematical Operations

In [5]:
arr1 = np.arange(10, 20, 2)
arr2 = np.arange(1, 8)

s4 = pd.Series(arr1)
s5 = pd.Series(arr2)

In [6]:
s4.add(s5)
s5.sub(s4)
s4.mul(s5)
s5.div(s4)

0    0.100000
1    0.166667
2    0.214286
3    0.250000
4    0.277778
5         NaN
6         NaN
dtype: float64

In [7]:
# Before calculating the following, pandas series drops values such as NaN and Inf (infinity)
print(s5.median())
print(s4.max())
print(s4.min())

4.0
18
10