In [1]:
import pandas as pd
import numpy as np

----
# Saving existing data

In [2]:
data = {
    "animal": [
        "cat",
        "cat",
        "snake",
        "dog",
        "dog",
        "cat",
        "snake",
        "cat",
        "dog",
        "dog",
    ],
    "age": [2.5, 3, 0.5, np.nan, 5, 2, 4, np.nan, 7, 4],
    "visits": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    "priority": ["yes", "yes", "no", "yes", "no", "no", "no", "yes", "no", "no"],
}
df = pd.DataFrame(data)

df.to_csv("animals.csv")
df.to_excel("animal.xlsx", sheet_name="Animal")

----
# Loading data into Pandas

In [3]:
df = pd.read_csv("pokemon.csv")
# df_tab = pd.read_csv("pokemon.txt", delimiter='\t')

df.head(2)
df.shape

(800, 12)

In [4]:
df_xlsx = pd.read_excel("animal.xlsx", "Animal", index_col=0)
df_xlsx

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.0       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  4.0       1       no